# Omite carpetas 
docs/*
clase_06/*.py

# Omitir environment
env_ds_finance
env_arima

# Tareas
hws/*

# Archivos 
*.gnuplot
*.sh
*.csv
README.md

# Carpetas
clase_10
notes
merton
clase_07/__pycache__/

# repos
repos

# omitir pass y username
clase_07/config.py