# Omite carpetas 
docs/*
clase_06/*.py
clase_07/*.py
*.zip

# Omitir environment
env_ds_finance
env_arima

# Tareas
hws/hw08.ipynb 

# Archivos 
*.gnuplot
*.sh
*.csv
README.md

# Carpetas
neoserver
notes
merton
clase_07/__pycache__/
clase_12/cvar.ipynb

# repos
repos

# omitir pass y username
clase_07/config.py

# Omite versiones anteriores de las clases
clase_12 
clase_13 
